{% block content %}
<div style="align-items: center; margin-left: 650px;">
	{% include "plane/snippets/event_view_snip.html" %}
	{% if app_name == 'hospital' %}
		{% include "hospital/snippets/hospital_tickets_snip.html" %}
	{% else %}
		{% for seating_plan in event.seatingplan_set.all %}
			<div style="align-items: center;">
				{% include "plane/snippets/seating_plan.html" %}
			</div>
		{% endfor %}
	{% endif %}
	{% if app_name == 'concert' %}
		{% include "concert/snippets/concert_social_buttons.html" %}
	{% endif %}
</div>
{% endblock %}