<!DOCTYPE html>
<html>
<head>
	<title>Tic</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<meta name="viewpoer" content="width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

</head>
<body>
	<div class = "containerUn">
		{% if 'plane' in request.path %}
			{% include "core/navbar.html" with app_name='plane'%}
		{% elif  'concert' in request.path %}
			{% include "core/navbar.html" with app_name='concert'%}
		{% elif  'hospital' in request.path %}
			{% include "core/navbar.html" with app_name='hospital'%}
		{% endif %}
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>