{% extends "core/header.html" %}

{% block content %}
	<p>Username: {{ profile.user.username }}</p>
	<p>Email: {{ profile.user.email }}</p>
	<p>First Name: {{ profile.user.first_name }}</p>
	<p>Last Name: {{ profile.user.last_name }}</p>
	<p>Bio: {{ profile.bio }}</p>
	{% if profile.profile_image %}
		<img src="{{ profile.profile_image.url }}" width=150>
	{% else %}
		{% load static %}
		<img src='{% static "imgs/profile_default.png" %}' width=150>
	{% endif %}

	<a href="{% url 'user_profile_edit' %} ">Edit Profile</a>

{% endblock %}