{% extends "core/header.html" %}

{% block content %}
	<div class="card border-dark mb-3" style="   display: flex;
								flex-direction: column;
								align-items: center;
								padding-top: 100px;" >
		<h6>Username: {{ profile.user.username }}</h6>
		<h6>Email: {{ profile.user.email }}</h6>
		<h6>First Name: {{ profile.user.first_name }}</h6>
		<h6>Last Name: {{ profile.user.last_name }}</h6>
		<h6>Bio: {{ profile.bio }}</h6>
		{% if profile.profile_image %}
			<img src="{{ profile.profile_image.url }}" width=150>
		{% else %}
			{% load static %}
			<img src='{% static "imgs/profile_default.png" %}' width=150>
		{% endif %}

		<a class="btn btn-info" style="margin-top: 10px;" href="{% url 'user_profile_edit' %} ">Edit Profile</a>
	</div>

{% endblock %}