{% extends "core/header.html" %}

{% block content %}
	{% if not request.user.is_authenticated %}
		<style type="text/css">
			#backg{
				background: url("/static/imgs/plane.jpg") 100% 0 no-repeat fixed;
				color: white;
				height: 900px;
				padding: 100px 0 0 50px;   
			}
		</style>

		<div id="backg">
			<div class="jumbotron vertical-center">
				{% include "core/snippets/formsnippet.html" with imgname="plane.jpg" form_title="Login" submit_button_name="Login" %}
			</div>			
		</div>
	{% else %}
		<p>You are already logged in mate!</p>
	{% endif %}	
{% endblock %}