{% extends "core/header.html" %}

{% block content %}
	{% if not request.user.is_authenticated %}
		<style type="text/css">
			#backg{
				background: url("/static/imgs/{% if 'plane' in request.path %}plane{%elif 'concert' in request.path%}concert{%elif 'hospital' in request.path%}hospital{%endif%}.jpg") 50% 0 no-repeat fixed;
				color: white;
				height: 900px;
				padding: 200px 0 0 50px; 
				text-align: center;
			}
		</style>

		<div id="backg">			
			{% include "core/snippets/formsnippet.html" with imgname="plane.jpg" form_title="Login" submit_button_name="Login" %}
		</div>
	{% else %}
		<div style="display: flex;
					justify-items: center;">
		<h5>You are already logged in!</h5>
		</div>
	{% endif %}	
{% endblock %}