<!-- Passing context in form_title, form_description, and submit_button_name -->

{% block content %}
	<h3>{{form_title}}</h3>
	<p>{% if form_description %} {{ form_description }} {% endif %}</p>
	<form method = 'POST' enctype="multipart/form-data">
		{% csrf_token %}
		{% if form.errors %}
			<p>Something went wrong! Please try again!</p>
		{% endif %}
		{% for field in form %}
			<p>
				{{ field.label_tag }}			<!-- Label for filed -->
				{{ field }}						<!-- Textfield for filed -->
				{% if field.help_text %}
					<small style="color: grey">{{ field.help_text|safe }}</small>
				{% endif %}
				{% for error in field.errors %}
					<p style="color: red">{{ error }}</p>
				{% endfor %}
			</p>
		{% endfor %}
		<button type="submit">{{submit_button_name}}</button>
	</form>
{% endblock %}